input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    width: 20px;
    height: 20px;
    border: solid;
    border-radius: 6px;
    position: relative;
}
input[type="checkbox"]:after {
    /* color: #fff; */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 13px;
    font-weight: 900;
    font-family: cursive;
}
input[type="checkbox"].ng-dirty{
    border-color: red;

}
input[type="checkbox"].ng-dirty::after{
    content: "X";
}
input[type="checkbox"]:checked {
    border-color: green;
}
input[type="checkbox"]:checked::after {
    content: "V";
}

